<h3>The most common way of selecting or creating a list of nodes in an HTML
  document are:</h3>

<ul>
<li>querySelectorAll()</li>
<li>getElementsByTagName()</li>
<li>getElementsByClassName()</li>
</ul>




<div>
  <ul>
    <li class="liClass">Hello</li>
    <li class="liClass">big</li>
    <li class="liClass">bad</li>
    <li class="liClass">world</li>
  </ul>
</div>
<ul>
  <li class="liClass">Hello</li>
</ul>

<div class="user-panel main">
  <input type="text" name="login">
</div>

<script src="/js/selectors.js"></script>